<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Information</title>
    <style>
        ul {
            list-style-type: none;
            border: 1px black solid;
            width: 800px;
            padding: 0px;
            margin-left: 50px;
        }

        li {
            border: 1px solid #ddd;
            background-color: #f9f9f9;
            padding-left: 10px;
            font-family: Arial;
        }
    </style>
</head>

<body>
<h1>Customer Information</h1>

<form action="/addcustomer" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="totalLoan">Total Loan:</label>
    <input type="number" id="totalLoan" name="totalLoan" required>

    <label for="interest">Interest:</label>
    <input type="number" id="interest" name="interest" required>

    <label for="years">Years:</label>
    <input type="number" id="years" name="years" required>

    <button type="submit">Add Customer</button>
</form>

<ul>
    <li th:each="customer : ${customers}">
        <p th:text="${customer.name} + ' wants to borrow ' +
                         ${customer.totalLoan} + ' € for a period of ' +
                         ${customer.years} + ' years and pay ' +
                         ${customer.getMonthlyPayment()} + ' € each month'"></p>
    </li>
</ul>

</body>
</html>